.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  font-size: 48px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
  margin: 0 0 36px 0;
}
